@import url(http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext);
li {
    line-height: 16px;
    border-bottom: 0px dashed black;
    margin: 0
}
body {
    background: url(images/bgcko.jpg) no-repeat fixed;
    background-position: top center;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    font-size: 10pt;
}
a {
    color: #358adc;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease
}
a:hover {
    color: #000
}
h4, h5, h6, form {
    margin: 0;
    padding: 0
}
p {
    line-height: 16px;
    border-bottom: 0px dashed black;
    margin: 0
}
td {
    padding-top: 10px;
    color: #333333
}
table tr td {
    padding: 5px
}
main {
    width: 971px;
    margin: 0 auto;
    background: #eeeeee
}
main select {
    transition: box-shadow, border-left, border-top, border-right 0.2s ease;
    cursor: pointer;
    border-radius: 3px;
    width: 180px;
    padding: 6px;
    border: 1px solid #dadada;
    background-position: top
}
main select:focus {
    cursor: default;
    outline: none;
    box-shadow: 0 0 10px #9ecaed;
    border-color: #9ecaed;
    border-radius: 3px 3px 0 0
}
main input {
    transition: box-shadow 0.2s ease;
    padding: 6px;
    cursor: pointer;
    border: 1px solid #dadada;
    background-position: top;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px
}
main input:focus {
    cursor: default;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed
}
main .center {
    text-align: center
}
main a.fh {
    opacity: 0.8;
    text-align: center
}
main .article-img {
    width: 658px
}
article {
    border: 0px ridge #99FFCC;
    text-align: left;
    margin: 0px;
    float: left;
    width: 700px
}
article h1 {
    border: 0px ridge #8FC410;
    width: auto;
    height: 20px;
    border-bottom: 6px solid #3ab308;
    background: #f1f1ed;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    padding: 8px 0 8px 8px;
    margin: 10px 10px 0 10px;
    border: 1px solid #bbbbbb;
    box-shadow: 0 0 8px #bbbbbb;
    color: #444444;
    font-weight: bold;
    font-size: 12pt;
}
article div {
    margin: 0 10px 10px 10px;
    box-shadow: 0 0 8px #bbbbbb;
    width: auto;
    padding: 10px 10px 10px 10px;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    white-space: pre-line;
    line-height: 16px;
}
article .comment {
    box-shadow: 0 0 8px #dddddd;
    min-height: 69px;
    width: auto;
    height: auto;
    padding: 9px 5px 10px 10px;
    border: 1.5px solid #bbbbbb;
    background: #ebebeb;
    background-position: top;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 10px 10px 0 10px
}
article .comment:hover {
    background: #dddddd;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out
}
article .comment img {
    box-shadow: 0 0 8px #111111;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    float: left
}
article .comment  .incomment {
    padding: 0 0 0 80px;
    width: auto;
    height: auto;
}
article .comment  .incomment .nick {
    float: left;
    font-weight: bold;
    line-height: 15px;
    margin: 0 20px 0 0
}
article .comment  .incomment .time {
    line-height: 15px;
    color: #555555
}
article .comment:hover  .incomment .time {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out
}
article .comment  .incomment .textcomment {
    width: auto;
    white-space: pre-line;
    height: auto;
    margin: -15px 0 0 0
}
aside {
    border: 0px ridge #99FFCC;
    text-align: left;
    float: right;
    width: 270px;
    text-align: center
}
aside h1 {
    border: 0px ridge #8FC410;
    width: auto;
    height: 20px;
    border-bottom: 6px solid #3ab308;
    background: #f1f1ed;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    padding: 8px 0 8px 0;
    margin: 10px 10px 0 10px;
    border: 1px solid #bbbbbb;
    box-shadow: 0 0 8px #bbbbbb;
    color: #444444;
    font-size: 12pt;
}
aside div {
    margin: 0 10px 10px 10px;
    box-shadow: 0 0 8px #bbbbbb;
    width: auto;
    padding: 10px 10px 10px 10px;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px
}
footer {
    border-top: 1px solid #2d64b3;
    background: -webkit-gradient( linear,left top,left bottom,color-stop(0.05,#306ab9), color-stop(1,#1d4898) );
    background: -moz-linear-gradient( center top,#1d4898 5%,#2f68f7 100% );
    color: #fff;
    line-height: 25px;
}
footer .down {
    border-top: 1px solid #4896e3;
    background: -webkit-gradient( linear,left top,left bottom,color-stop(0.05,#306ab9), color-stop(1,#1d4898) );
    background: -moz-linear-gradient( center top,#1d4898 5%,#2f68f7 100% );
    color: #fff;
    line-height: 25px;
    height: 30px;
    padding: 0 10px 0 10px;
}
footer .down .sub {
    width: 971px;
    margin: 0 auto;
    padding: 8px 0 0 20px;
}
footer .down .sub p {
    color: #fff;
    cursor: default
}
footer h4 {
    cursor: default
}
footer p {
    color: #dddddd;
    cursor: default;
    width: 700px
}
footer a:hover {
    color: #000
}
footer p:hover {
    color: #fff
}
header {
    margin: 0;
    background: url(images/header/header.png) repeat-x;
    height: 154px;
    color: #fff;
    border: 0
}
header .logo {
    width: 951px;
    height: 94px;
    position: absolute;
    top: 49px;
    background-image: url(images/header/logo.png);
    background-repeat: no-repeat
}
#sub-header {
    width: 971px;
    margin: 0 auto 0 auto;
    padding: 0 0 0 15px;
    line-height: 16px;
    color: #fff
}
#mainmenu {
    text-shadow: 1px 1px #0035b7;
    font-weight: bold;
    left: auto;
    right: auto;
    width: 966px;
    margin: 0 auto
}
#mainmenu li {
    position: relative;
    list-style: none;
    margin: 0 auto;
    padding: 0
}
#mainmenu ul, #mainmenu li {
    list-style: none;
    margin: 0 auto;
    padding: 0 0 0 0
}
#mainmenu ul {
    position: relative;
    z-index: 597
}
#mainmenu ul li {
    float: left;
    min-height: 1px;
    vertical-align: middle
}
#mainmenu ul li.hover, #mainmenu ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default
}
#mainmenu ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 100%
}
#mainmenu ul ul li {
    float: none
}
#mainmenu ul ul ul {
    top: 0;
    left: auto;
    right: -99.5%
}
#mainmenu ul li:hover > ul {
    visibility: visible
}
#mainmenu ul ul {
    bottom: 0;
    left: 0
}
#mainmenu ul ul li {
}
#mainmenu a {
    display: block;
    line-height: 1em;
    text-decoration: none
}
#mainmenu {
    border-radius: 5px 5px 0 0;
    padding: 0 0 0 5px;
    font-size: 10.5pt;
}
#mainmenu > ul {
    display: inline-block
}
#mainmenu:after, #mainmenu ul:after {
    content: '';
    display: block;
    clear: both
}
#mainmenu a {
    color: #dddddd;
    padding: 0 10px
}
#mainmenu ul {
    text-transform: uppercase
}
#mainmenu ul ul {
    border-top: 0px solid #8FC410;
    text-transform: none;
    min-width: 180px;
}
#mainmenu ul ul a {
    color: #FFF;
    border: 0px solid #8FC410;
    border-top: 0 none;
    line-height: 10px;
    padding: 16px 15px;
}
#mainmenu ul ul ul {
    border-top: 0 none
}
#mainmenu ul ul li {
    position: relative;
}
#mainmenu > ul > li > a {
    line-height: 38px
}
#mainmenu ul ul li:first-child > a {
    color: #cccccc;
}
#mainmenu ul ul li:first-child:hover > a {
    color: #fff;
}
#mainmenu ul ul li:hover > a {
    color: #fff;
}
#mainmenu ul ul li > a {
    color: #cccccc;
    transition: color 0.2s ease;
}
#mainmenu ul ul li:last-child > a {
    border-radius: 0 0 0px 0px;
    box-shadow: 0 0px 0 #000;
    color: #cccccc;
}
#mainmenu ul ul li:last-child:hover > a {
    border-radius: 0 0 0px 0px;
    color: #fff
}
#mainmenu ul ul li.has-sub > a:after {
    color: #cccccc;
    content: '+';
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -8px;
    margin: 0 auto
}
#mainmenu ul ul li.end_menu > a:after {
    color: #cccccc;
    border-radius: 5px;
    content: '+';
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -8px;
    margin: 0 auto
}
#mainmenu ul li.has-sub > a:after {
    content: '+';
    margin-left: 0px
}
#mainmenu ul li.end_menu> a:after {
    content: '+';
    border-radius: 5px;
    margin-left: 0px
}
#mainmenu ul li.last ul {
    left: auto;
    right: 0
}
#mainmenu ul li.last ul ul {
    left: auto;
    right: 70%
}
#mainmenu ul li:hover > a, #mainmenu ul li.active > a {
    color: #fff;
    transition: color 0.2s ease
}
#mainmenu ul li.has-sub > a:after {
    content: '+';
    margin-left: 0px
}
#mainmenu ul li.last ul {
    left: auto;
    right: 0
}
#mainmenu ul li.last ul ul {
    left: auto;
    right: 70%
}
.menu-border {
    height: 6px;
    background: url(images/header/menu-border.png);
}
.menu-img {
    border-bottom: 1px solid #00357b;
    height: 40px;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3b82c5), to(#0865b7));
    background-image: -webkit-linear-gradient(top,#3b82c5,#0865b7);
    background-image: -moz-linear-gradient(top,#3b82c5,#0865b7);
    background-image: -ms-linear-gradient(top,#3b82c5,#0865b7);
    background-image: -o-linear-gradient(top,#3b82c5,#0865b7);
    background-image: linear-gradient(top,#3b82c5,#0865b7);
}
.menu-img .menu {
    width: 971px;
    margin: 0 auto;
}
.center tr td {
    text-align: center;
}