{block title}Error 405 - Method Not Allowed{/block}
{block content}
<div class='panel panel-info'>
	<header class='panel-heading'><h1 class='panel-title'>Error 405 - Method Not Allowed</h1></header>
	<article class='panel-body'>
		The requested method is not allowed for the URL.<br><br>
		Požadovaná metoda není dovolena pro URL adresu.
	</article>
</div>