Options -Indexes

<IfModule mod_headers.c>
    Header set X-Frame-Options DENY
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Content-Type-Options: nosniff
</IfModule>

RewriteEngine On
# RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !\.(css|js|icon|zip|rar|png|jpg|gif|pdf)$ index.php [L]

AddType application/x-httpd-php .php .phtml

<IfModule mod_headers.c>
    <FilesMatch '\.(htm|html|php|phtml)$'>
        BrowserMatch MSIE ie
        Header set X-UA-Compatible 'IE=Edge,chrome=1' env=ie
    </FilesMatch>
</IfModule>

<IfModule mod_deflate.c>
  <FilesMatch "\.(php|phtml|html|json|js|css|ttf|svg|woff|eot)$">
    SetOutputFilter DEFLATE
  </FilesMatch>
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault A600
    ExpiresByType text/javascript A2678400
    ExpiresByType application/javascript A2678400
    ExpiresByType text/css A2678400
    ExpiresByType image/gif A604800
    ExpiresByType image/png A604800
    ExpiresByType image/jpeg A604800
    ExpiresByType image/x-icon A604800
    ExpiresByType text/html A1
</IfModule>
