Options -Indexes

RewriteEngine On
# RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !\.(css|js|icon|zip|rar|png|jpg|gif|pdf)$ index.php [L]

AddType application/x-httpd-php .php .phtml

<FilesMatch '\.(htm|html|php|phtml)$'>
    <IfModule mod_headers.c>
        BrowserMatch MSIE ie
        Header set X-UA-Compatible 'IE=Edge,chrome=1' env=ie
    </IfModule>
</FilesMatch>

<ifModule mod_deflate.c>
AddOutputFilterByType DEFLATE \
text/html \
text/xml \
text/css \
text/plain \
image/svg+xml \
application/xhtml+xml \
application/xml \
application/rdf+xml \
application/rss+xml \
application/atom+xml \
text/javascript \
text/ecmascript \
application/javascript \
application/x-javascript \
application/ecmascript \
application/json \
application/x-font-ttf \
application/x-font-otf \
font/truetype \
font/opentype \
application/x-pointplus
</ifModule>

<ifModule mod_expires.c>
ExpiresActive On
ExpiresDefault 'access plus 2592000 seconds'
ExpiresByType image/x-icon 'access plus 2592000 seconds'
ExpiresByType image/jpeg 'access plus 2592000 seconds'
ExpiresByType image/jpg 'access plus 2592000 seconds'
ExpiresByType image/png 'access plus 2592000 seconds'
ExpiresByType image/gif 'access plus 2592000 seconds'
ExpiresByType application/x-shockwave-flash 'access plus 2592000 seconds'
ExpiresByType text/css 'access plus 604800 seconds'
ExpiresByType text/javascript 'access plus 604800 seconds'
ExpiresByType application/javascript 'access plus 604800 seconds'
ExpiresByType application/x-javascript 'access plus 604800 seconds'
ExpiresByType text/html 'access plus 604800 seconds'
ExpiresByType application/xhtml+xml 'access plus 604800 seconds'
</ifModule>