application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

database:
	dsn: 'mysql:host=%database.hostname%;dbname=%database.database%'
	user: %database.username%
	password: %database.password%
	reflection: conventional
	options:
		lazy: TRUE

php:
	date.timezone: Europe/Prague

session:
	expiration: 14 days

services:
	- App\Model\UserManager
	- App\Forms\FormFactory
	- App\Forms\SignInFormFactory
	- App\Forms\SignUpFormFactory
	router: App\RouterFactory::createRouter

parameters:
	database:
		hostname: 'hostname' # Hostitel MySQL databáze
		username: 'username' # Přihlašovací jméno k MySQL databázi
		password: 'password' # Heslo k MySQL databázi
		database: 'database' # Název MySQL databáze