{block content}
<div class='panel panel-info'>
	<header class='panel-heading'><h1 class='panel-title' n:block=title>Byl jste odhlášen</h1></header>
	<article class='panel-body'><a n:href='in'>Přihlásit se pod jiným účtem</a></article>
</div>