body {
    background-color: #ECF0F1;
}
.navbar-default {
    background-color: #3498DB;
    background-image: none;
    border-color: #2487CA;
}
.navbar-brand,
.navbar-nav > li > a {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
}
.navbar-brand {
    vertical-align: middle;
    padding: 5px;
}
.navbar-brand img {
    height: 100%;
}
.navbar-default .navbar-nav > li > a {
    color: #FFF;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus{
    background-color: #3498DB;
    background-image: none;
}
.alignleft {
    float: left;
    margin-right: 8px;
}
.floatleft {
    float: left;
}
.floatright {
    float: right;
}
.talignleft {
    text-align: left;
}
.talignright {
    text-align: right;
}
.taligncenter {
    text-align: center;
}
